#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  a:link {
    color:white;
  }

  .instructions {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin-left: 10px;
    margin-right:10px;
  }

  .ion-item-border {
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .card-margin {
    margin-bottom: 0px;
    margin-top: 10px;
  }