
<ion-header>
  <ion-toolbar>
    <ion-title>View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" *ngIf="sleepData.length == 0">
    <p>
      There are currently no saved logs
      <br>
      You can start creating logs in the <a href="/tabs/log">Log <ion-icon name="arrow-redo-outline"></ion-icon></a> tab
    </p>
  </div>
  <div *ngIf="sleepData.length != 0">
    <ion-list *ngFor="let d of sleepData; index as i">
      <ion-card *ngIf="d.type == 'Stanford'" color="light" id="open-modal{{i}}">
        <ion-card-header>
          <ion-card-title>Sleepiness Log</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{d.dateString()}}
          <br>
          {{d.summaryString()}}
          <br>
          <ion-modal #modal trigger="open-modal{{i}}">
            <ng-template>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Sleepiness Log</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  {{d.dateTimeString()}}
                  <br>
                  {{d.summaryString()}}
                </ion-card-content>
                <ion-button *ngIf="!delete" fill="clear" color="danger" (click)="confirmDelete(d)">Delete</ion-button>
                <ion-button *ngIf="delete" fill="clear" color="danger" (click)="modal.dismiss(); remove(d)">Delete</ion-button>
                <ion-button fill="clear" color="dark" (click)="modal.dismiss(); turnOffDel()">Close</ion-button>
              </ion-card>
            </ng-template>
          </ion-modal>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="d.type == 'Overnight'" color="light">
        <ion-card-header>
          <ion-card-title>Overnight Log</ion-card-title>
        </ion-card-header>
        <ion-card-content id="open-modal{{i}}">
          {{d.dateString()}}
          <br>
          {{d.summaryString()}}
          <br>
          <ion-modal #modal trigger="open-modal{{i}}">
            <ng-template>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Sleepiness Log</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  {{startDateTimeString(d)}}
                  <br>
                  {{endDateTimeString(d)}}
                  <br>
                  {{d.summaryString()}}
                </ion-card-content>
                <ion-button *ngIf="!delete" fill="clear" color="danger" (click)="confirmDelete(d)">Delete</ion-button>
                <ion-button *ngIf="delete" fill="clear" color="danger" (click)="modal.dismiss(); remove(d)">Delete</ion-button>
                <ion-button fill="clear" color="dark" (click)="modal.dismiss(); turnOffDel()">Close</ion-button>
              </ion-card>
            </ng-template>
          </ion-modal>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <!-- <ion-button expand="block" (click)="confirmClear()">Clear All Logs</ion-button> -->
  </div>  
</ion-content>
<ion-footer [translucent]="true">
  <div id="container" *ngIf="sleepData.length != 0">
    <ion-button color="danger" expand="block" (click)="confirmClear()">Clear All Logs</ion-button>
    <br><br><br>
  </div>
</ion-footer>