
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="title" size="large">View Saved Logs</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container" *ngIf="sleepData.length === 0">
    <p>
      There are currently no saved logs
      <br>
      You can start creating logs in the <a href="/log">Log <ion-icon name="arrow-redo-outline"></ion-icon></a> tab
    </p>
  </div>
  <div *ngIf="sleepData.length !== 0">
    <br>
    <ion-item class="ion-item-border" color="light "><p class="instructions"><strong>
      Click on the log to view more detailed information or to delete it.
      You can clear all logs by clicking on the button on the bottom right.
    </strong></p></ion-item>
    <ion-list *ngFor="let d of sleepData; index as i">
      <ion-card *ngIf="d.type === 'Stanford'" color="light" id="open-modal{{i}}" class="card-margin">
        <ion-card-header>
          <ion-card-title>Sleepiness Log</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{d.dateString()}}
          <br>
          {{d.summaryString()}}
          <ion-modal #modal trigger="open-modal{{i}}">
            <ng-template>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Sleepiness Log</ion-card-title>
                  <ion-card-subtitle>Date Time: {{d.dateTimeString()}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  Date: {{d.dateString()}}
                  <br>
                  Summary: {{d.summaryString()}}
                </ion-card-content>
                <ion-button *ngIf="!delete" fill="clear" color="danger" (click)="confirmDelete(d)">Delete</ion-button>
                <ion-button *ngIf="delete" fill="clear" color="danger" (click)="modal.dismiss(); remove(d)">Delete</ion-button>
                <ion-button fill="clear" color="dark" (click)="modal.dismiss(); turnOffDel()">Close</ion-button>
              </ion-card>
            </ng-template>
          </ion-modal>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="d.type === 'Overnight'" color="light" id="open-modal{{i}}" class="card-margin">
        <ion-card-header>
          <ion-card-title>Overnight Log</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{d.dateString()}}
          <br>
          {{d.summaryString()}}
          <ion-modal #modal trigger="open-modal{{i}}">
            <ng-template>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Overnight Log</ion-card-title>
                  <ion-card-subtitle>{{startDateTimeString(d)}}<br>{{endDateTimeString(d)}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  Date: {{d.dateString()}}
                  <br>
                  Duration: {{d.summaryString()}}
                </ion-card-content>
                <ion-button *ngIf="!delete" fill="clear" color="danger" (click)="confirmDelete(d)">Delete</ion-button>
                <ion-button *ngIf="delete" fill="clear" color="danger" (click)="modal.dismiss(); remove(d)">Delete</ion-button>
                <ion-button fill="clear" color="dark" (click)="modal.dismiss(); turnOffDel()">Close</ion-button>
              </ion-card>
            </ng-template>
          </ion-modal>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button size="small" color="danger" (click)="confirmClear()">
        <ion-icon name="trash-sharp"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>  
    
</ion-content>
<ion-footer [translucent]="true">
  <ion-item class="ion-text-center">
    <ion-label><ion-button fill="clear" href="/home"><ion-icon name="home"></ion-icon> Home</ion-button></ion-label>
    <ion-label><ion-button fill="clear" href="/log"><ion-icon name="stopwatch"></ion-icon> Log</ion-button></ion-label>
    <ion-label><ion-button color="dark" fill="clear" href="/view"><ion-icon name="today"></ion-icon> View</ion-button></ion-label>
  </ion-item>
</ion-footer>