<ion-header>
  <ion-toolbar>
    <ion-title>Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click) = "sleepinessClick()">Log Sleepiness</ion-button>
      </ion-col>
    </ion-row>
    <div *ngIf="logSleepiness">
      <ion-row>LOG SLEEPINESS</ion-row>
      <ion-row>
        <ion-range [ticks] = "true" [snaps] = "true" [pin] = "true" min = "1" max = "7"[(ngModel)] = "sleepinessRangeVal"></ion-range>
      </ion-row>
      <ion-row>
        <ion-label *ngFor="let val of ScaleValues; index as i">
          <span *ngIf="i == sleepinessRangeVal">{{i}}: {{val}}</span>
        </ion-label>
      </ion-row>
    </div>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click) = "overnightClick()">Log Overnight Sleep</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="logOvernightSleep">
      LOG OVERNIGHT SLEEP
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-tabs>
      <ion-router-outlet></ion-router-outlet>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="log">
          <ion-icon name="stopwatch"></ion-icon>
          Log
        </ion-tab-button>
        <ion-tab-button tab="view">
          <ion-icon name="today"></ion-icon>
          View
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
