
<ion-header>
  <ion-toolbar>
    <ion-title>Log Sleep</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="ion-text-center">
    <ion-label><ion-button href="/home">Home</ion-button></ion-label>
    <ion-label><ion-button href="/log">Log</ion-button></ion-label>
    <ion-label><ion-button href="/view">View</ion-button></ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click) = "sleepinessClick()">Log Sleepiness</ion-button>
      </ion-col>
    </ion-row>
    <div *ngIf="logSleepiness">
      <br>
      <h5 class="range"><em>Choose a value based on how you feel</em></h5>
      <p class="instructions"><strong>Use the slider to choose what best fits your current mood</strong></p>
      <ion-row>
        <ion-range [ticks] = "true" [snaps] = "true" [pin] = "true" min = "1" max = "7"[(ngModel)] = "sleepinessRangeVal"></ion-range>
      </ion-row>
      <ion-row>
        <ion-label *ngFor="let val of ScaleValues; index as i">
          <span *ngIf="i == sleepinessRangeVal">{{i}}: {{val}}</span>
        </ion-label>
      </ion-row>
      <br>
      <p class="instructions"><strong>
        Now enter the log datetime. Press confirm to confirm your selection. If you want to change your 
        selection simply go back and change it before pressing confirm again to save your selection.
        Press reset if you want to reset everything back to the current datetime.
      </strong></p>
      <ion-row>
        <ion-item>
          <!-- <ion-label>Enter date</ion-label> -->
          <!-- <ion-input placeholder="Enter date"></ion-input> -->
          <ion-datetime #datetime [(ngModel)] = "sleepinessDate">
            <span slot="title">Enter Log Date and Time</span>
            <ion-buttons slot="buttons">
              <ion-button color="danger" (click)="datetime.reset(resetDate); resetCalDate()">Reset</ion-button>
              <!-- <ion-button color="primary" (click)="datetime.cancel()">Cancel</ion-button> -->
              <ion-button color="primary" (click)="datetime.confirm(); showConfirmation(true)">Confirm</ion-button>
            </ion-buttons>
          </ion-datetime>
        </ion-item>
      </ion-row>
      <br>
      <ion-row *ngIf="confirmation" class="ion-text-center">
        <br>
        <p class="instructions"><strong>
          Press log to see a preview of what your log would consists of. Press cancel to exit if you don't wish to save the log.
        </strong></p>
        <ion-col><ion-button color="danger" (click) = "sleepinessCancel(); showConfirmation(false)">Cancel</ion-button></ion-col>
        <ion-col><ion-button color="success" id="open-modal" (click) = "createSleepinessData()">Log</ion-button></ion-col>
        <ion-modal #modal trigger="open-modal" >
          <ng-template>
            <ion-content>
              <br>
              <p class="instructions"><strong>
                Press confirm to save the log. Press cancel if you would like to go back and make any changes.
              </strong></p>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Log Sleepiness</ion-card-title>
                  <ion-card-subtitle>DateTime: {{data.dateTimeString()}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  Date: {{data.dateString()}}<br>Summary: {{data.summaryString()}}
                </ion-card-content>
                <ion-button fill="clear" color="danger" (click)="modal.dismiss(); deleteData()">Cancel</ion-button>
                <ion-button fill="clear" color="success" (click)="modal.dismiss(); addData(); sleepinessCancel()">Confirm</ion-button>
              </ion-card>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-row>
    </div>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click) = "overnightClick()">Log Overnight Sleep</ion-button>
      </ion-col>
    </ion-row>
    <div *ngIf="logOvernightSleep">
      <ion-row>LOG OVERNIGHT SLEEP (TEMPORARY)</ion-row>
      <ion-row class="ion-text-center">
        <ion-col><ion-button (click)="logFull(!fullStart)">Log Full</ion-button></ion-col>
        <ion-col><ion-button (click)="startLog();logFull(false)">Start Log</ion-button></ion-col>
      </ion-row>
      <div *ngIf="fullStart">
        <ion-row>
          <ion-item>
            <ion-datetime #datetime [(ngModel)] = "overnightStart">
              <span slot="title">Enter Log Start Date and Time</span>
              <ion-buttons slot="buttons">
                <ion-button color="danger" (click)="datetime.reset(resetDate); resetCalStartDate()">Reset</ion-button>
                <!-- <ion-button color="primary" (click)="datetime.cancel(); resetCalStartDate(); logFull(false)">Cancel</ion-button> -->
                <ion-button color="primary" (click)="datetime.confirm(); logFullEnd(true)">Confirm</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ion-item>
        </ion-row>
      </div>
      <br>
      <div *ngIf="fullEnd">
        <ion-row>
          <ion-item>
            <ion-datetime #datetime [(ngModel)] = "overnightEnd">
              <span slot="title">Enter Log End Date and Time</span>
              <ion-buttons slot="buttons">
                <ion-button color="danger" (click)="datetime.reset(resetDate); resetCalEndDate()">Reset</ion-button>
                <!-- <ion-button color="primary" (click)="datetime.cancel(); logFullEnd(false); resetCalEndDate(); showConfirmation(false)">Cancel</ion-button> -->
                <ion-button color="primary" (click)="datetime.confirm(); showConfirmation(true)">Confirm</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ion-item>
        </ion-row>
        <ion-row *ngIf="confirmation" class="ion-text-center">
          <ion-col><ion-button color="danger" (click) = "overnightClick(); overnightCancel()">Cancel</ion-button></ion-col>
          <!-- <ion-col><ion-button color="danger" (click) = "showConfirmation(false)">Cancel</ion-button></ion-col> -->
          <ion-col><ion-button color="success" id="open-modal" (click) = "createOvernightData(overnightStart, overnightEnd)">Log</ion-button></ion-col>
          <ion-modal #modal trigger="open-modal" >
            <ng-template>
              <ion-content>
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>Log Overnight Sleep</ion-card-title>
                    <ion-card-subtitle>{{startDateTimeString()}}<br>{{endDateTimeString()}}</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    Date: {{data.dateString()}}<br>Summary: {{data.summaryString()}}
                  </ion-card-content>
                  <ion-button fill="clear" color="danger" (click)="modal.dismiss(); deleteData(); showConfirmation(false)">Cancel</ion-button>
                  <ion-button fill="clear" color="success" (click)="modal.dismiss(); addData(); showConfirmation(false); overnightClick(); overnightCancel()">Confirm</ion-button>
                </ion-card>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-row>
      </div>
      <div *ngIf="overnightLog">
        <ion-grid>
          <ion-row>
            <ion-label><strong>Start Date Time</strong></ion-label>
            <ion-datetime presentation="date-time" [preferWheel]="true" [disabled]="true" [(ngModel)]=startLogTime></ion-datetime>
          </ion-row>
          <ion-row class="ion-text-center">
            <ion-col *ngIf="!done"><ion-button color="danger" (click)="startLog()">Cancel</ion-button></ion-col>
            <ion-col *ngIf="!started && !done"><ion-button color="success" (click)="start()">Confirm</ion-button></ion-col>
            <ion-col *ngIf="started && !done"><ion-button color="medium" (click)="end(); showEndDate(); isDone()">End</ion-button></ion-col>
          </ion-row>
          <br>
          <div *ngIf="endDate">
            <ion-row>
              <ion-label><strong>End Date Time</strong></ion-label>
              <ion-datetime presentation="date-time" [preferWheel]="true" [disabled]="true"[(ngModel)]=endLogTime>
              </ion-datetime>
            </ion-row>
            <ion-row class="ion-text-center">
              <ion-col><ion-button color="danger" (click) = "showEndDate(); isDone()">Cancel</ion-button></ion-col>
              <ion-col><ion-button color="success" id="open-modal">Log</ion-button></ion-col>
            </ion-row>
            <ion-modal #modal trigger="open-modal" >
              <ng-template>
                <ion-content>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title>Log Overnight Sleep</ion-card-title>
                      <ion-card-subtitle>{{startDateTimeString()}}<br>{{endDateTimeString()}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                      Date: {{data.dateString()}}<br>Summary: {{data.summaryString()}}
                    </ion-card-content>
                    <ion-button fill="clear" color="danger" (click)="modal.dismiss(); deleteData()">Cancel</ion-button>
                    <ion-button fill="clear" color="success" (click)="modal.dismiss(); addData(); overnightClick(); overnightCancel()">Confirm</ion-button>
                  </ion-card>
                </ion-content>
              </ng-template>
            </ion-modal>
          </div>
        </ion-grid>
      </div>
    </div>
  </ion-grid>
</ion-content>