
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Tracker</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <strong>Welcome to Sleep Tracker!</strong>
    <p>
      <!-- Log your daytime sleepiness and overnight sleep in the <a href="/log" color="dark">Log <ion-icon name="arrow-redo-outline"></ion-icon></a> tab. -->
      <br>You can log your daytime sleepiness by choosing from a range of value that best describes how you felt during a particular time of the day.
      You can also log your overnight sleep by starting a log before you sleep and ending it after you wake up or logging everything at once after you wake up.
    </p>
    <p>Get started at the <a href="/log" color="dark">Log <ion-icon name="arrow-redo-outline"></ion-icon></a> tab.</p>
    <br>
    <p>
      Data you log will appear in the  <a href="/view" color="dark">View <ion-icon name="arrow-redo-outline"></ion-icon></a> tab.
      <br>
      You can view both your daytime sleepiness logs and your overnight sleep logs in a single list. Click on each log to view more detailed information
      about that log.
    </p>
  </div>
</ion-content>

<ion-footer>
  <ion-item class="ion-text-center">
    <ion-label><ion-button color="dark" fill="clear" href="/home"><ion-icon name="home"></ion-icon> Home</ion-button></ion-label>
    <ion-label><ion-button fill="clear" href="/log"><ion-icon name="stopwatch"></ion-icon> Log</ion-button></ion-label>
    <ion-label><ion-button fill="clear" href="/view"><ion-icon name="today"></ion-icon> View</ion-button></ion-label>
  </ion-item>
</ion-footer>
