
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Tracker</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <strong>Welcome to Sleep Tracker!</strong>
    <p>Log your daytime sleepiness and overnight sleep in the <a href="/log" color="dark">Log <ion-icon name="arrow-redo-outline"></ion-icon></a> tab.</p>
    <br>
    <p>Data you log will appear in the  <a href="/view" color="dark">View <ion-icon name="arrow-redo-outline"></ion-icon></a> tab.</p>
  </div>
</ion-content>

<ion-footer>
  <ion-item class="ion-text-center">
    <ion-label><ion-button color="dark" fill="clear" href="/home"><ion-icon name="home"></ion-icon> Home</ion-button></ion-label>
    <ion-label><ion-button fill="clear" href="/log"><ion-icon name="stopwatch"></ion-icon> Log</ion-button></ion-label>
    <ion-label><ion-button fill="clear" href="/view"><ion-icon name="today"></ion-icon> View</ion-button></ion-label>
  </ion-item>
</ion-footer>
